.b1 { color: red; color: green; }
.b1 { animation-name: test; }
.b1.b2 { color: yellowgreen; }

@media (max-width: 1250px) {
    .b1 { width: 50%; }
    .b2 { width: 75%; }
}

.b1, .b2 { color: pink; }

.b1:hover { color: brown; }

.b1__e1 { color: yellow; }
.b1__e1::after { content: ""; }

.b1_m1 { color: honeydew; }

.b1_m1_v1 { color: lightcoral; }

.b1_m1_v2 .b1__e1 { color: hotpink; }

.b2 { color: green; }

.b2__e1_m1 { color: #eee; }

/*
:root {
    --my-var: brown;
}

.my-block {
    color: var(--my-var);
}
*/

@keyframes test {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(100%);
    }
}
